  *{
        margin: 0;    
        padding: 0;
        }

        button{
            width: 50px;
            height: 50px;
            font-size: 18px;
            cursor: pointer;
        }

        .calc{
            margin: 5px;
            
        }

        .button:hover{
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }

        .container{
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            width: 30%;
            height: 58vh;
            border-radius: 18px;
            text-align: center;
            margin-left: 35%;
            margin-top: 10%;
        }

        .botoes{
            padding-top: 30px;
        }

        #resultado{
            background-color: rgb(71, 70, 70);
            width: 210px;
            height: 30px;
            color: white;
            margin: 5px;
            margin-left: 95px;
            text-align: right;
            font-size: 18px;
            
        }